.product-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.load-more-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
.visible{
  display: flex;
  justify-content: flex-end; 
  margin-right: 10px;
}
.visible h6{
  margin: 0 10px; 
  padding: 0;
}