  
  .filter h2{
    border-bottom: 1px solid #e6e6e6;
  }

  .color-filter {
    margin-bottom: 20px;
  }

  .color-filter p {
    padding: 0;
    margin: 0;
  }

  .color-filter-checkbox{
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
  }
  
  .color-filter h3 {
    margin-bottom: 10px;
  }
  
  .color-filter label {
    display: block;
    margin-bottom: 5px;
  }
  
  .price-filter {
    display: flex;
    flex-direction: column;
  }
  
  .price-filter h3 {
    margin-bottom: 0px;
  }
  
  .price-filter label {
    margin-bottom: 5px;
  }
  .price-range-show {
    border: 1px solid #e6e6e6;
    padding: 5px;
    margin-bottom: 10px;
  }