

html,
body {
  height: 100%;
  margin: 0;
}

.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.body {
  flex: 1;
  display: flex;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
}
.filter {
    padding: 20px;
    min-width: 200px; 
    display: flex;
    flex-direction: column;
  }
  .products{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.products_header{
    display: flex;
}
.products_title{
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
}