.header{
    background-color: #fff;
    border-bottom: 1px solid #e6e6e6;
    height: 77px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    /* padding: 0 20px; */
    box-sizing: border-box;
}
.main_logo{
    margin-left: 20px;
    height: 70px;
    width: 75px;
}
.cart{
    position: absolute;
    right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
}